---
layout: default
title: Products
cards:
 - heading: heading one
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto voluptatibus, esse, asperiores minima cum eius necessitatibus.
 - heading: heading two
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto voluptatibus, esse, asperiores minima cum eius necessitatibus.
 - heading: heading three
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto voluptatibus, esse, asperiores minima cum eius necessitatibus.
---


<!------------------------- HEADER BANNER SECTION  --------------------------->
<header class=" grid banner tall-70 md-tall-60">
    
    {% include header-nav.html %}

    <div class="col-12 text-center">
        <h3 class="font-weight-extra-bold">addictively<span class="featured-text"> soft</span> </h3>
        <h1 class="font-weight-light">you won't want to get out of bed</h1>
    </div>
</header>

<!-------------------------  Text Grid  ----------------------------->
<section class="padded grid bg-featured">
    <div class="col-12 text-center">
        <h2><span class="white-text">features</span> you will love</h2>
    </div>

    <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>Little Heading</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum officiis, suscipit soluta natus iste laudantium, fugiat tempora numquam eum dignissimos vitae ratione corporis non sit odio! Officiis error pariatur consequuntur!</p>
    </div>

    <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>Little Heading</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum officiis, suscipit soluta natus iste laudantium, fugiat tempora numquam eum dignissimos vitae ratione corporis non sit odio! Officiis error pariatur consequuntur!</p>
    </div>

    <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>Little Heading</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum officiis, suscipit soluta natus iste laudantium, fugiat tempora numquam eum dignissimos vitae ratione corporis non sit odio! Officiis error pariatur consequuntur!</p>
    </div>

    <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>Little Heading</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum officiis, suscipit soluta natus iste laudantium, fugiat tempora numquam eum dignissimos vitae ratione corporis non sit odio! Officiis error pariatur consequuntur!</p>
    </div>
</section>

<!-------------------------  CARDS  ----------------------------->

<section class="grid padded">
    {% for item in page.cards %}
    <div class="col-4_sm-12 padded-sm">
        <div class="card">
            <div class="bg-image portrait padded-sm"></div>
            <div class="padded-sm">
                <h3>{{item.heading}}</h3>
                <p>{{item.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


 <!------------------------- Yellow Image Banner Section  ----------------------------->

 <section class="padded text-center bg-dark tall-70 grid">
    <div class="col-12-middle">
        <h3 class="big-text">
            <span class="small-text font-weight-normal">never underestimate the importance of</span>
            <br><span class="featured-text">free</span> express shipping
            
        <h3>
    </div>
</section>

 <!------------------------- Grid Section  ----------------------------->


<section class="grid">
    <div class="padded col-6_xs-12-middle">
        <h2>built to last a <span class="featured-text">lifetime<span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perspiciatis esse autem illo quibusdam adipisci voluptatem sequi culpa ad inventore quas maxime magni eaque incidunt, nisi consectetur. Deleniti, voluptatum optio!</p>
    </div>

    <div class="bg-image col-6_xs-12 tall-70 bg-image-bed hide-xs">
        <!-- background image -->
    </div>

    <div class="bg-image col-6_xs-12 tall-70 bg-image-dog">
        <!-- background image -->
    </div>

    <div class="padded col-6_xs-12-middle">
        <h2>so <span class="featured-text">soft</span> you'll melt</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perspiciatis esse autem illo quibusdam adipisci voluptatem sequi culpa ad inventore quas maxime magni eaque incidunt, nisi consectetur. Deleniti, voluptatum optio!</p>
    </div>

    <div class="padded col-6_xs-12-middle">
        <h2>built to last a <span class="featured-text">lifetime<span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis perspiciatis esse autem illo quibusdam adipisci voluptatem sequi culpa ad inventore quas maxime magni eaque incidunt, nisi consectetur. Deleniti, voluptatum optio!</p>
    </div>

    <div class="bg-image col-6_xs-12 tall-70 bg-image-bed hide-xs">
        <!-- background image -->
    </div>
</section>



